<div class="country">
  <h3><%= country.name %></h3>
  <p>Population: <%= number_with_delimiter(country.population) %></p>
  <p>Continent: <%= country.continent %></p>
  <%= link_to "View Details", country_path(country), class: "btn btn-primary" %>
</div>