<div class="weather-report-item">
  <h2>Weather Report on <%= weather_report.date %></h2>
  <p>Temperature: <%= weather_report.temperature %> °C</p>
  <p>Description: <%= weather_report.description %></p>
  <p>City: <%= weather_report.city.name %></p>
</div>