<h1>Weather Report for <%= @weather_report.city.name %></h1>
<p>Date: <%= @weather_report.date %></p>
<p>Temperature: <%= @weather_report.temperature %>°C</p>
<p>Description: <%= @weather_report.description %></p>